*{
  box-sizing:circle;
}
:root{
  --primary:rgb(188, 109, 45);
  --secondary:rgb(233, 235, 225);
  --tertiary:rgb(233, 80, 93);
  --dark:rgba(29,28,31,1);
  --light:rgba(288,296,245,1);
}

body{
  margin: 0;
  padding:0;
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:var(--primary);
  background-color: var(--light);
  line-height: 1.8;
}

h1
h2
h3{
  margin: 0;
}

header{
  padding: 12px;;
  display:flex ;
  flex-direction:row ;
  justify-content:space-between ;
  flex-wrap:wrap ;
  align-items:center;
  background-color: var(--tertiary);
  box-shadow: 0, 5px 35px rgba(146,96,45,1);
}

header h1{
  color: black;
  border-width:var(--corvid-border-radius,var(--brw,0));
  border-radius:var(--corvid-border-radius,var(--rd.50%));
  padding: 5px,1%,5px,6%;
  font-size: 4vw;
  line-height: 1.8;

}
h2 {
  text-align:left;
  font-size:24px;
  font-style:italic
}
nav ul li {
  display: inline;
  flex-direction: row;
  flex-wrap: wrap;
  float: inline-start;
}

nav ul li {
  text-decoration: none;
  padding: 7px 12px;
  color: var(--secondary);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: var(--trans1, border .4s ease 0s, background-color 10 ease 0s);
  font-size: 1.4rem;
  border-style: solid;

}

nav ul li a:hover {
  color: var(--corvid-background-color,rgba(var(--bg,var(--color_17),var(--alpha-bg,1))));
  }


nav ul li a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}


.page-cover {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;

}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

 .flex-item {
  border: 5px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items:flex-start;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;  
  
}


.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline block;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}

.software-piracy {
background-image: url("../images/software-piracy.jpg");
}

.operating-system {
  background-image: url("../images/operating system.jpg");
}

  .application-software {
  background-image: url("../images/application-software.jpg");
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }


  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-end;
  }